@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ready to get started? <a asp-page="/Signup">Sign up now</a></p>
</div>